---
---

<main class="container">
  <section>
    <input type="text" name="Url" id="" />
    <input type="button" value="Generar Lista de QR" id="GenerarQR" />
  </section>
</main>


<script src="../utils/GenerateIdQR.js"></script>
