---
import { generateUniqueHexString } from "../utils/GenerateIdQR.js";

const {uniqueId = generateUniqueHexString(16) }= Astro.props;

---

<main class="container">
  <section>
    <input type="text" name="Url" id="" />
    <input type="button" value="Generar QR" id="generate" />
  </section>
</main>

<div id="qrcode">{uniqueId}</div>

<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"), this.dataset.uniqueId);
</script>
